[Unit]
Description=TEMPLATE
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/TEMPLATE_daemon
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
